
html{
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}
/* root colors */
:root {
    --primary-color: #466f4a;
    --secondary-color: #b8cdb6;
    --background-color: #f7f8f5;
    --text-color: #333;
}


/* top right bottom left */
h1,h2,h3{
    text-align: left;
    padding: 10px 10px 0px 10px;  
    color: var(--primary-color);
    margin-bottom: 20px;
}

h2{
    font-size: 30px;
}

h3 {
    font-size: 1.2em;
    color: #444;
    margin-bottom: 10px;
    }
    
h4{
        font-size: 1.1em;
        color: #335c40;
        margin-bottom: 10px;
        margin-top: 0;
    }


body{
    background-color: var(--background-color);
    color:var(--text-color);
    font-family: 'Inter', sans-serif;
    font-feature-settings: : 'liga'1, 'calt'1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

p{
    text-align: left;
    line-height: 1.6;
    font-size: 15px;
    padding: 0px 20px;
}
.citations {
    font-size: 14px;
    color: #555;
    line-height: 1.5;  
    margin-top: 20px;
}

li{
    text-align: left;
    font-size: 15px;
    padding: 0px 40px;
}
a{
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3 ease;
}
a: hover{
    color: var(--secondary-color);
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.write-up {
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

text {
    font-family: 'Inter', sans-serif;
}

.axis text {
    font-family: 'Inter', sans-serif;
    fill: #444;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    fill: #333;
    margin-bottom: 0.5em;
    text-anchor: middle;
}

.subtitle{
    font-size: 1.2em;
    color: #666
}





/* graph section ------------------------------------------------------------------------------------------------*/
.graph-section {
    flex: 1;
    padding: 30px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    max-width: none; 
}


.tooltip {
    position: absolute;
    background: #f9f9f9;
    padding: 15px 20px;

    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    pointer-events: none;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.5;

    color: #333;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
    
    }
    

svg {
    font-family: Inter, sans-serif;
    padding: 20px;
    flex-grow:2 ;
    
}
#demographic-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-left: 10px; 
    margin-bottom: 20px; 
}
#demographic{
    width: 200px;
    padding: 5px;
    font-size 14px;
    text-align: left;
}

label{
    font-weight: bold;
    margin-bottom: 5px;
}
/* legend section ----------------------------------------- */
#legend-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 20px;
    padding: 15px;

    background-color: var(--background-color); 
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex-grow:2;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.legend-item div {
    width: 20px;
    height: 20px;
    border-radius: 3px; 
    margin-right: 10px;
}

.legend-item span {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}






/* card styling */
.card{
    background: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

/* slider styling */
.slider-container {
    padding-bottom: 10px;
    font-size: 16px;
    text-align: left;
    width: 100%;
    flex:1;
    }
    
    .slider-container label{
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
        color: #335c40;
    }
    
    input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        height: 10px;
        border-radius: 5px;
        background: #c5d3c2;
        outline: none;
        margin-bottom: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #466f4a;
        cursor: pointer;
        box-shadow: 0 0 2px #000;
    }
    
    input[type="range"]:hover {
        background-color: #b8cdb6;
    }
    
/* dropdown styling */
select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #a9bba2;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
}



/* Improved Interactive States */
button, select, input[type="range"] {
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

button:hover, select:hover, input[type="range"]:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

/* calculator section -------------------------------------------------------------------------------------------- */
.calculator-section {
    width: 100%;
    max-width: 1500px;
    padding: 30px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;


    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.calculator-header {
    text-align: center;
    margin-bottom: 30px;
}
.calculator-parts {
    display: flex;
    gap: 30px;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.centered-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background: #ffffff;
    width: 100%;
    max-width: 800px; 
    margin: 20px auto;
    text-align: center; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* changes the width for the calculator slider on the left */
.card, .centered-card {
    width: 100%; 
    max-width: 800px; 
    margin: 20px auto; 
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}
/* risk results ----------------------------------------------- */
#risk-output {
    flex: 1;
    max-width: 40%;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: left;
    }
.risk-info-wrapper{
    margin-bottom: 20px;
}
#risk-result{
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: 600;
}
#risk-score{
    margin-bottom: 10px;
    font-size: 1em;
    color:#444;
}
#risk-score .score-line {
    margin-bottom: 15px; 
}

#risk-score .score-line:last-child {
    margin-bottom: 0;
}
.summary p {
font-size: 1.5em;
margin: 10px 0;
font-weight: 600;
}

.result{
    margin: 2em;
}


/* toggle styles */
#breakdown-container {
    display: none;
    margin-top: 20px;
    text-align: left;
    background: var(--background-color);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    }
    
ul#breakdown-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
    
ul#breakdown-list li {
    background: #ffffff;
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 8px;
    font-size: 0.98em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    }
    
ul#breakdown-list li span {
    font-weight: 600;
    color: #466f4a;
    }
    
 ul#breakdown-list li small {
    color: #666;
    }

/* button styling */
#toggle-breakdown-btn {
    background-color: #466f4a;
    color: #ffffff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
    font-size: 14px;

}

 #toggle-breakdown-btn:hover {
    background-color: #36583a;
}
